.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 350px;
  height: 300px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 34px;
}

.image {
  opacity: 0.7;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  width: 350px;
  height: 300px;
}

.image:hover,
.card:hover .image {
  opacity: 1;
}

.text {
  /* From https://css.glass */
  text-align: center;
  color: #6f9bd1;
  background: rgba(34, 65, 147, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-left: 1px solid rgba(34, 65, 147, 0.3);
  border-right: 1px solid rgba(34, 65, 147, 0.3);
  border-bottom: 1px solid rgba(34, 65, 147, 0.3);
  background: transparent;
  padding: 20px;
}
