.home-main {
  background: rgb(223, 60, 95);
  background: radial-gradient(
    circle,
    rgba(223, 60, 95, 1) 0%,
    rgba(34, 65, 147, 1) 100%
  );
  color: #6f9bd1;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  .home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 46px 40px;
    gap: 2rem;

    .welcome {
      max-width: 850px;
      h1 {
        font-size: 52px;
        font-weight: 600;
        margin-bottom: 0.5em;

        span {
          font-weight: 900;
        }
      }

      h2 {
        font-size: 38px;
        margin-bottom: 1em;
      }

      h3 {
        font-size: 2rem;
        margin-bottom: 0.5em;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1em;
        font-weight: 500;
      }
    }

    .images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        width: 300px;
      }
    }

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      width: 100%;

      .welcome {
        h1 {
          font-size: 20px;
        }
      }
    }
  }
}
