.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #224193;
  gap: 5rem;

  h1 {
    font-weight: 900;
  }
  a {
    text-decoration: none;
    color: #df3c5f;

  }
  a:hover {
    color: #224193;
    background-color: #6f9bd1;
  }
}
