.navbar {
  width: 100%;
  text-transform: uppercase;

  .navbar * {
    box-sizing: border-box;
    transition: all 0.35s ease;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      display: inline-block;
      list-style: outside none none;
      margin: 0.5em 1em;
      padding: 0;
    }

    .links,
    .profile-links {
      display: flex;
      gap: 10px;
    }

    a {
      padding: 0.5em 0.8em;
      color: #df3c5f;
      position: relative;
      text-decoration: none;
      font-size: 20px;
    }

    a::before,
    a::after {
      content: "";
      height: 14px;
      width: 14px;
      position: absolute;
      transition: all 0.35s ease;
      opacity: 0;
    }

    a::before {
      content: "";
      right: 0;
      top: 0;
      border-top: 3px solid #df3c5f;
      border-right: 3px solid #df3c5f;
      transform: translate(-100%, 50%);
    }

    a:after {
      content: "";
      left: 0;
      bottom: 0;
      border-bottom: 3px solid #df3c5f;
      border-left: 3px solid #df3c5f;
      transform: translate(100%, -50%);
    }

    a:hover:before,
    a:hover:after {
      transform: translate(0, 0);
      opacity: 1;
    }

    a:hover {
      color: #224193;
    }
  }
}
