.gallery {
    padding: 20px;

    background: rgb(223, 60, 95);
    background: radial-gradient(
      circle,
      rgba(223, 60, 95, 1) 0%,
      #224193 100%
    );
  
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none; // Remove default list styling
      padding: 0;
  
      li {
        display: inline-block; // Display posts side by side
        margin-right: 16px; // Space between posts horizontally
  
        &:last-child {
          margin-right: 0; // Remove margin for the last post
        }
      }
    }
  }